{% extends "base.html" %}

{% block content %}
<div class="center-container">
    <div class="forgot-username-page">
        <form method="POST">
            <h2>Forgot Username</h2>
            <div class="form-group">
                <label for="email">Email:</label>
                <input type="email" name="email" id="email" class="input-field" required>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
</div>
{% endblock %}