{% extends "base.html" %}

{% block content %}
<div class="center-container">
    <div class="reset-password-page">
        <form method="POST">
            <h2>Reset Password</h2>
            <div class="form-group">
                <label for="password">New Password:</label>
                <input type="password" name="password" id="password" class="input-field" required>
            </div>
            <button type="submit" class="btn btn-primary">Reset Password</button>
        </form>
    </div>
</div>
{% endblock %}